@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-2xs: 0.625rem;
}

@custom-variant in2xl (@media (max-width: 1536px));
@custom-variant inxl (@media (max-width: 1280px));
@custom-variant inlg (@media (max-width: 1024px));
@custom-variant inmd (@media (max-width: 768px));
@custom-variant insm (@media (max-width: 640px));
@custom-variant inxs (@media (max-width: 333px));

@utility scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  @apply font-mono;
}