@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-2xs: 0.625rem;
}

@custom-variant in2xl (@media (max-width: 1536px));
@custom-variant inxl (@media (max-width: 1280px));
@custom-variant inlg (@media (max-width: 1024px));
@custom-variant inmd (@media (max-width: 768px));
@custom-variant insm (@media (max-width: 640px));
@custom-variant inxs (@media (max-width: 333px));

@utility scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-custom {
  scrollbar-color: oklch(58.5% 0.233 277.117) transparent;
  scrollbar-width: thin;
}

body {
  @apply font-mono;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}

.animated-dots {
  width: 6px;
  height: 6px;
  margin: 0 2px;
  background-color: oklch(87% 0.065 274.039);
  border-radius: 50%;
  display: inline-block;
  animation: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.animated-dots:nth-child(2) {
  animation-delay: .4s;
}

.animated-dots:nth-child(3) {
  animation-delay: .8s;
}